{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<main>
    <div class="RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3"> 
      <div class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd aJF41JQLhtfw_MCGt5Th tVvQ7rZHDN8eqgjOONa2 AWLGIryfLKwkSeUZd4O6">
        {% if not last_30_flows_runs %}
          <div class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi a3PhNoZfGyYtBq9oUFmb roTtmJKSiubwdmgJkwrv">
            <div class="hD0sTTDgbxakubcHVW2X">
              <h3 class="TR_P65x9ie7j6uxFo_Cs vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Last 30 flow runs throughout</h3>
              <span class="d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Hover over each bar to see the flow run information</span>
            </div>

            {% include "flow-runs-bar-graph.html" %}

          <div class="space-y-4">
            {% for flow_run in last_30_flows_runs %}
              <div class="p-4 rounded-lg shadow-md">
                  <!-- Title Row -->
                  <div class="flex justify-between items-center">
                      <div class="flex items-center space-x-2">
                        <a href= "{{ url_for('flow_run_details', flow_run_id = flow_run.flow_run_id) }}">
                          <span class="text-blue-400 font-semibold">{{ flow_run.name }}</span>
                          </a>
                      </div>
                      <div class="text-gray-400 text-sm">{{ flow_run.started_at }}</div>
                  </div>
                  <div class="mt-4 flex justify-between text-sm">
                      <div>
                          <p>Task Runs</p>
                          <p>2</p>
                      </div>
                      <div>
                          <p>Duration</p>
                          <p>{{ flow_run.durationReadable }}</p>
                      </div>

                  
                      <div class="flex items-center">
                        {% with status=flow_run.status %}
                          {% include "status.html" %}
                        {% endwith %}
                      </div>
                  </div>
                  <div class="mt-4 flex justify-between text-sm">
                      <div> 
                          <p class="text-gray-400">Flow</p>
                          <p class="text-blue-400">{{ flow_run.flow.name }}</p>
                      </div>
                      <!-- <div>
                          <p class="text-gray-400">Work Queue</p>
                          <p class="text-blue-400">default</p>
                      </div> -->
                  </div>
              </div>
            {% endfor %}
          </div>
          </div>
        {% else %}
          <div class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi a3PhNoZfGyYtBq9oUFmb roTtmJKSiubwdmgJkwrv">
          <section class="bg-white">
              <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">               
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Run a flow to get started.</p>
                    <p class="mb-4 text-lg font-light text-gray-500">Flow runs are seperate instances of individual execution of a flow at a certain time. </p>
                </div>   
              </div>
            </section>
          </div>
        {% endif %}
      
        <!-- Right Content -->
        <div class="xCPtuxM4_gihvpPwv9bX iHPddplqYvrN6qWgvntn AqVNvLG_H6VHhym2yKMp r8lSKzxeZmXfyH8vtxDQ">
          <!-- Top Sales Card -->
          <div class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X uLPch_bqyJDXwe5tynMV _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z _1jTZ8KXRZul60S6czNi">
            <h3 class="TR_P65x9ie7j6uxFo_Cs vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Active Flows</h3>

            <div class="space-y-4">
              {% for flow in active_flows %}
                <div class="p-4 rounded-lg shadow-md">
                    <!-- Title Row -->
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-2">
                          <a href= "{{ url_for('flow_details', flow_id = flow.flow_id) }}">
                            <span class="text-blue-400 font-semibold">{{ flow.name }}</span>
                          </a>
                            <div class="flex space-x-1">
                              {% for tag in flow.tags %}
                                <span class="bg-gray-700 text-xs text-gray-300 px-2 py-1 rounded-md">{{ tag }}</span>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex justify-between text-sm">
                        <div>
                            <p>Flow Runs</p>
                            <p>2</p>
                        </div>
                        <div>
                            <p>Last Run On</p>
                            <p>{{ 'Help' }}</p>
                        </div>
    
                        <div>
                          <p>Next Run</p>
                          <p>{{ '--'  }}</p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/date-fns@4.0.0/cdn.min.js"></script>
<script>
  const last30Flows = {{ last_30_flows_runs | tojson }};

  console.log(last30Flows)

  const statusColors = {
    'completed': 'rgba(42, 199, 105)',
    'failed': 'rgb(217,45,32)',
    'running' : 'rgb(210,235,255)',
    'queued' : 'rgb(254,249,195)'

  };

  const durations = new Array(30).fill(0);
  durations.splice(-last30Flows.length, last30Flows.length, ...last30Flows.map(flowRun => flowRun.duration));
  console.log(durations)

  const colors = new Array(30).fill('rgb(111,114,123)'); // Initialize with transparent color
  last30Flows.forEach((flowRun, index) => {
    colors[29 - index] = statusColors[flowRun.status.toLowerCase()]; // Map status to color
  });

  console.log(colors)

  const ctx = document.getElementById('myChart').getContext('2d');

  const data = {
    labels: Array(30).fill(''), // Last N flows, no need for X-axis labels
    datasets: [{
      label: 'Flows',
      data: durations,
      backgroundColor: colors, // Set bars to green color
      borderWidth: 0, // Remove borders for each bar
      minBarLength: 5, // Set minimum bar thickness,
      borderRadius: 25
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        x: {
          display: false, // Hide the X-axis
          barPercentage: 0.1, // Adjust this value to change the bar width,
          categoryPercentage: 0.1, // Adjust this value to change the bar spacing

        },
        y: {
          display: false // Hide the Y-axis
        }
      },
      plugins: {
        legend: {
          display: false // Hide the legend if not needed
        },
        // tooltip: {
        //                 enabled: false, // Disable default tooltip
        //                 external: function(context) {
        //                     // Get the tooltip element or create one if not present
        //                     let tooltipEl = document.getElementById('chartjs-tooltip');
        //                     if (!tooltipEl) {
        //                         tooltipEl = document.createElement('div');
        //                         tooltipEl.id = 'chartjs-tooltip';
        //                         tooltipEl.classList.add('chartjs-tooltip');
        //                         document.body.appendChild(tooltipEl);
        //                     }

        //                     // Hide the tooltip when no data is hovered
        //                     const tooltipModel = context.tooltip;
        //                     if (tooltipModel.opacity === 0) {
        //                         tooltipEl.style.opacity = 0;
        //                         return;
        //                     }

        //                     // Set custom HTML content for the tooltip
        //                     const dataPoint = tooltipModel.dataPoints[0];
        //                     const label = dataPoint.label;
        //                     const value = dataPoint.raw;

        //                     tooltipEl.innerHTML = `
        //                           <div class="tooltip-content">
        //                               <div class="flex justify-between items-center">
        //                                   <div class="flex items-center space-x-2">
        //                                       <span class="text-blue-400 font-semibold">Transforming X to Y on schedule</span>
        //                                       <span class="text-blue-400 font-semibold"> intrepid-moose</span>
        //                                   </div>
        //                                   <div class="text-gray-400 text-sm">10m ago</div>
        //                               </div>
        //                               <div class="mt-4 flex justify-between text-sm">
        //                                   <div>
        //                                       <p>Task Runs</p>
        //                                       <p>2</p>
        //                                   </div>
        //                                   <div>
        //                                       <p>Start Time</p>
        //                                       <p>Booby tassles</p>
        //                                   </div>
        //                                   <div>
        //                                     <p>End Time</p>
        //                                     <p>End time here</p>
        //                                 </div>
        //                                 <div class="flex items-center">
        //                                   <p class="text-red-500 ml-2 font-semibold"> COMPLETED </p>
        //                               </div>
        //                           </div>
        //                         </div>
        //                     `;

        //                     // Add styles for the tooltip element
        //                     tooltipEl.style.borderRadius = '5px'; // Curved edges
        //                     tooltipEl.style.borderWidth = '1px'; // Slight border
        //                     tooltipEl.style.borderColor = 'rgba(0, 0, 0, 0.2)'; // Border color
        //                     tooltipEl.style.padding = '8px'; // Add some padding
        //                     tooltipEl.style.background = '#FFFFFF'; // White background with some opacity
        //                     tooltipEl.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.2)'; // Add a subtle shadow


        //                      // Keep the tooltip visible when hovered
        //                     tooltipEl.style.pointerEvents = 'auto'; // Allow mouse events on the tooltip
        //                     tooltipEl.onmouseover = function() {
        //                       tooltipEl.style.opacity = 1; // Keep the tooltip visible
        //                     };

        //                     // Position the tooltip
        //                     const position = context.chart.canvas.getBoundingClientRect();
        //                     tooltipEl.style.opacity = 1;
        //                     tooltipEl.style.position = 'absolute';
        //                     tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px';
        //                     tooltipEl.style.top = position.bottom + window.pageYOffset + 10 + 'px'; // Adjusted top position

        //                 }
        //             }
      }
    }
  };

  const myChart = new Chart(ctx, config);
</script>
{% endblock %}


